.switch-label {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  
  input {
    display: none;

    &:checked + .slider {
      background-color: $primary-color;

      &::before {
        transform: translateX(22px);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lighten($gray-light, 5%);
    transition: .2s;
    border-radius: 24px;

    &::before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
      background-color: $white;
      transition: .2s;
      border-radius: 50%;
    }
  }

  &--disabled {
    opacity: .6;
  }
}