// Media queries

// $breakpoint-lg:                     1200px;
// $breakpoint-ipad-landscape:         1025px;
// $breakpoint-md:                     1020px;
// $breakpoint-sm:                     992px;
// $breakpoint-xs:                     768px;
// $breakpoint-xxs:                    480px;


//breakpoints min-widths
$breakpoints: (
  xs:             576px,
  sm:             768px,
  md:             992px,
  ipad-landscape: 1025px,
  lg:             1200px
);

// respond above (min) breakpoints
// @include breakpoint(sm) { }
@mixin breakpoint($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (min-width: $breakpoint-value) {
    @content;
  }
}

// respond below (max) breakpoints
// @include breakpoint-max(sm) { }
@mixin breakpoint-max($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: ($breakpoint-value - 1)) {
    @content;
  }
}

// https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/#the-entire-code


@mixin breakpoint-between($breakpointMin, $breakpointMax) {
  $min-val: map-get($breakpoints, $breakpointMin);
  $max-val: map-get($breakpoints, $breakpointMax);

  @media (min-width: $min-val) and (max-width: $max-val - 1) {
    @content;
  }
}