html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  color: $text-primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;

  @include breakpoint-max(sm) {
    font-size: $font-size-h3;
  }
}
h2 {
  font-size: $font-size-h2;

  @include breakpoint-max(sm) {
    font-size: $font-size-h4;
  }
}
h3 {
  font-size: $font-size-h3;

  @include breakpoint-max(sm) {
    font-size: $font-size-h4;
  }
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
small {
  font-size: $font-size-small;
}

.footnote {
  font-size: $font-size-small;
  color: $text-secondary-color;
}

.text-secondary {
  color: $text-secondary-color;
}

a {
  text-decoration: none;
}

.header-small {
  font-size: $base-font-size;
  font-weight: bold;
  display: block;
  margin-top: $default-spacing * 4;
  margin-bottom: $default-spacing;
  padding: 0 $default-spacing;
}