.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.divider { // REMEMBER TO SET role="separator" on the html element for accessibility
  // based on https://youzan.github.io/vant/#/en-US/divider
  $divider-margin: $default-spacing 0;
  $divider-border-color: $gray-light;
  $divider-text-color: $text-secondary-color;
  $divider-font-size: .85rem;
  $divider-line-height: 1.1;
  $divider-content-padding: $default-spacing;
  $divider-content-left-width: 10%;
  $divider-content-right-width: $divider-content-left-width;


  margin: $divider-margin;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0;
  border-color: $divider-border-color;
  user-select: none;
  
  font-size: $divider-font-size;
  line-height: $divider-line-height;
  color: $divider-text-color;

  &::before,
  &::after {
    display: block;
    flex: 1;
    box-sizing: border-box;
    height: 1px;
    border-color: inherit;
    border-style: inherit;
    border-width: 1px 0 0;
  }

  &::before {
    content: '';
  }


  &--hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  &--dashed {
    border-style: dashed;
  }

  &--padded {
    padding: 0 $default-spacing;
  }

  &--content-center,
  &--content-left,
  &--content-right {
    &::before {
      margin-right: $divider-content-padding;
    }

    &::after {
      margin-left: $divider-content-padding;
      content: '';
    }
  }

  &--content-center {
    text-align: center;
  }

  &--content-left {
    &::before {
      max-width: $divider-content-left-width;
    }
  }

  &--content-right {
    &::after {
      max-width: $divider-content-right-width;
    }
  }
}

// hide content but remain accessible
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.overflow-hide {
  overflow: hidden;
}

.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}