* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
html {
  font-size: $base-font-size;
}
body {
  font-family: $system-font;
  color: $text-primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container {
  // max-width: 1040px;
  max-width: 1100px;
  margin: 0 auto;
  //padding: $default-spacing;
}
.container--content {
  max-width: 1100px;
  margin: $default-spacing * 4 auto $default-spacing auto;
  padding: $default-spacing;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.divider-with-text {
  background: $light-grey;
  height: 1px;
  margin: $default-spacing 0;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: $text-secondary-color;
  position: relative;

  span {
    background: $white;
    font-weight: 600;
    font-size: .85rem;
    user-select: none;
    padding: 4px $default-spacing;
    display: inline-block;
    transform: translateY(-50%);
  }
}

.footnote {
  font-size: .85rem;
  color: $text-secondary-color;
}

.text-secondary {
  color: $text-secondary-color;
}

.has-fixed-header main {
  padding-top: $toolbar-height;
}
.has-bottomnav main {
  padding-bottom: $default-spacing * 2 + 24px + $base-font-size;
}


// tablet landscape
@media screen and (max-width: 1024px) {
  body.overlay-active {
    overflow-y: hidden;
  }
}