* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.touch * {
  @include breakpoint-max(md) { // disable user-select on small touch devices 
    user-select: none;
  }
}

html {
  $header-color: $body-bg;
  $footer-color: $gray-light;
  background-color: $black; // seen when overscrolling the page on IOS. Apparently only works with solid colors?
  background: linear-gradient(to bottom, rgba($header-color,1) 0%,rgba($header-color,1) 50%,rgba($footer-color,1) 51%,rgba($footer-color,1) 100%);
  // background-attachment: fixed;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $body-bg;
  min-height: 100vh;
  position: relative;
}
.container {
  // max-width: 1040px;
  max-width: 1100px;
  margin: 0 auto;
  //padding: $default-spacing;
}
.container--content {
  max-width: 1100px;
  //margin: $default-spacing * 4 auto $default-spacing auto;
  margin: 0 auto;
  padding: $default-spacing;
}
.container--small {
  max-width: 500px;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}

// disable specific animations based on usersetting 
.no-animations {
  .hero-split-bg--image, .hero-bg {
    animation: none !important;
  }

  .router-view {
    transition: none !important;
  }
}