html.darkmode {
  $header-color: #1e1e24;
  $footer-color: #27293d;
  background: linear-gradient(to bottom, rgba($header-color,1) 0%,rgba($header-color,1) 50%,rgba($footer-color,1) 51%,rgba($footer-color,1) 100%);
  
  body {
    background-color: #1e1e24;
  }
}