.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.2s ease-out;
}
.fade-leave-active {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(10px);
}
.slide-up-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-up-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
}

.slide-down-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.slide-down-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-down-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

.slide-left-enter {
  //opacity: 0;
  transform: translateX(100%);
}
.slide-left-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-left-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  //opacity: 0;
  transform: translateX(-100%);
}

.slide-right-enter {
  //opacity: 0;
  transform: translateX(-100%);
}
.slide-right-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
}
.slide-right-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  //opacity: 0;
  transform: translateX(100%);
}

.icon-rotate-enter {
  opacity: 0;
  transform: rotate(180deg);
}
.icon-rotate-enter-active {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.icon-rotate-leave-active {
  transition: opacity 0.2s ease-out, transform 0.4s ease-out;
  opacity: 0;
  transform: rotate(-180deg);
}

.icon-scale-enter {
  opacity: 0;
  transform: scale(0.7);
}
.icon-scale-enter-active {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.icon-scale-leave-active {
  transition: opacity 0.2s ease-out, transform 0.1s ease-out;
  opacity: 0;
  transform: scale(0.7);
}

.route-primary {
  &-enter {
    opacity: 0;
    transform: scale(0.95);
    // transform-origin: 90% top;

    &-active {
      transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    }
  }

  &-leave {
    &-active {
      transition: opacity 0.1s ease-out;
      opacity: 0;
    }
  }
}



// implemented on settings page
.router-slide-mobile-left-enter {
  transform: translateX(100%);
  
}
.router-slide-mobile-left-enter-active {
  transition: opacity .15s ease-out, transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: $body-bg;
  position: fixed;
  padding-top: $nav-height;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.router-slide-mobile-left-leave-active {
  transition: opacity .15s ease-out, transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  //opacity: 0;
  transform: translateX(-20%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s;
  }
}

.router-slide-mobile-left-leave-to {
  &::after {
    opacity: .3;
  }
}

.router-fade-left-enter {
  opacity: 0;
  transform: translateX(-16px);
}
.router-fade-left-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.router-fade-left-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(16px);
}


.router-fade-left-fast-enter {
  opacity: 0;
  transform: translateX(-16px);
}
.router-fade-left-fast-enter-active {
  transition: opacity 0.1s ease-out, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.router-fade-left-fast-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-in-out;
  opacity: 0;
  transform: translateX(16px);
}

.router-fade-right-fast-enter {
  opacity: 0;
  transform: translateX(16px);
}
.router-fade-right-fast-enter-active {
  transition: opacity 0.1s ease-out, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.router-fade-right-fast-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-in-out;
  opacity: 0;
  transform: translateX(-16px);
}


.router-fade-right-enter {
  opacity: 0;
  transform: translateX(16px);  
}
.router-fade-right-enter-active {
  transition: opacity 0.15s ease-out, transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.router-fade-right-leave-active {
  transition: opacity 0.15s ease-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(-16px);
}