.spoiler {
  position: relative;
  display: inline;
  background: #222;
  padding: 0.25em 0.5em;
  transition: 500ms ease;
  cursor: pointer;
}

.spoiler-image {
  display: inline-block;
}

.spoiler > .spoiler-mask {
  opacity: 0;
  transition: 500ms ease;
}

.spoiler.spoiled {
  background: #f1f2f3;
  cursor: unset;
}

.spoiler.spoiled > .spoiler-mask {
  opacity: 1;
}