.page-header {
  background: $primary-color;
  color: $white;
  height: 56px;
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    //padding: 0 $default-spacing;
    padding-left: $default-spacing;
  }
  .logo {
    max-width: 120px;
    margin-right: $default-spacing;
    font-size: 2.5rem;
    font-weight: 700;
    //padding: 0 $default-spacing;

    a {
      color: inherit;
    }
  }
  .header-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    //margin-right: 0 -$default-spacing;

    nav {
      a {
        padding: $default-padding;
        color: inherit;
        background: red;
        display: inline-block;
        margin-right: $default-spacing;
      }
    }
  }
  .header-buttons {
    display: flex;
    align-items: center;
  }
  .dropdown-wrapper {
    position: relative;
    line-height: 0;

    .dropdown {
      position: absolute;
      top: calc(100% + 6px);
      border: 1px solid $light-grey;
      right: 0;
      min-width: 260px;
      border-radius: $default-border-radius;
      background: $white;
      box-shadow: $box-shadow;
      color: $text-primary-color;
      line-height: initial;
      @include z-index(dropdown);

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-top: 1px solid $light-grey;
        border-left: 1px solid $light-grey;
        background: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-$default-spacing) translateY(-50%) rotate(45deg);
        box-sizing: border-box;
      }

      a {
        display: block;
        padding: $default-padding;
        border-top: 1px solid $light-grey;
        cursor: pointer;

        &:hover {
          background: $light-grey;
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  .account-icon-mobile {
    display: none;
  }
}

// tablet landscape
@media screen and (max-width: 1024px) {
  .page-header {
    .container {
      padding: 0;
    }
    .logo {
      display: none;
    }
    .header-navigation {
      nav {
        display: none;
      }
    }
    .hamburger {
      display: initial;
    }
    .account-icon {
      display: none;
    }
    .account-icon-mobile {
      display: initial;
    }
  }
}