#content {
  padding-left: $nav-width-big;
  background: $body-bg;
  margin-top: $nav-height;
  min-height: 100vh;

  @include breakpoint(md) {
    .nav-open & {
      padding-left: $nav-width-small;

      padding-left: 0;
    }
  }

  @include breakpoint-max(md) {
    margin-top: 0;
    padding-left: $nav-width-small;
  }
  
  @include breakpoint-max(sm) {
    margin-top: $nav-height;
    padding-left: 0;
  }
}

.transparent-nav ~ #content {
  margin-top: 0;
}