.app-nav {
  .primary-nav {
    position: fixed;
    left: 250px;
    right: 0;
    top: 0;
    height: 60px;
    background-color: yellow;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(md) { // above tablet portrait
      padding: 0 $default-spacing;

      .nav-open & {
        left: 60px;

        left: 0;
      }

      .nav-items {
        nav {
          display: flex;

          a {
            display: flex;
            padding: .35em;
            margin-right: $default-spacing;
            background-color: red;
            border-radius: $default-border-radius;

            &.router-link-exact-active {
              background-color: green;
            }

            span.label {
              padding: 0 .25em;
            }
          }
        }
      }
    }

    @include breakpoint-between(sm, md) { // tablet portrait
      .nav-items {
        width: 100%;
        nav {
          display: flex;
          flex-direction: column;

          a {
            // position: relative;
            // height: 60px;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            position: relative;
            display: flex;
            align-items: center;
            white-space: nowrap;
            color: rgba(255, 255, 255, 0.8);
            padding: 18px;

            &:hover {
              background-color: lime;
            }

            &.router-link-exact-active {
              background-color: gray;
            }

            body:not(.nav-open) & {
              span.label {
                position: absolute;
                left: 100%;
  
                visibility: hidden;
                opacity: 0;
                background-color: black;
                color: #fff;
                padding: 5px;
                border-radius: $default-border-radius;
                white-space: nowrap;
                transform: translateX(-10px);
                transition: transform .15s ease-in-out, visibility .15s, opacity .15s ease-in-out;
  
                &::after {
                  content: " ";
                  position: absolute;
                  top: 50%;
                  right: 100%; /* To the left of the tooltip */
                  margin-top: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: transparent black transparent transparent;
                }
              }
  
              &:hover {
                span.label {
                  transform: translateX(0);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

            .nav-open & {
              // height: auto;
              // justify-content: flex-start;
              // padding: 20px;

              span.label {
                // position: static;
                position: absolute;
                left: 48px;
              }
            }
          }
        }
      }
    }

    @include breakpoint-max(md) { // tablet portrait and down
      position: static;
      flex-direction: column-reverse;
      height: auto;
    }

    @include breakpoint-max(sm) { // mobile
      // position: fixed;
      // left: 0;
      // height: 60px;

      // justify-content: flex-end;
      // flex-direction: row;
      
      .nav-items {
        //@include z-index(bottomnav);
        z-index: 99999;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0; 
        background: $white;
        transition: transform .2s;
        box-shadow: 0 0px 2px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.2), 0 0px 5px 0 rgba(0,0,0,.12);

        .container {
          padding: $default-spacing / 2 $default-spacing;
        }
        nav {
          display: flex;

          a {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            //transition: flex .2s;
            color: $text-secondary-color;
            
            span.label {
              max-width: 80%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            
            svg g {
              fill: lighten($text-secondary-color, 10%);
            }

            &.router-link-exact-active {
              //flex: 2;
              color: $primary-color;

              svg g {
                fill: $primary-color;
              }
            }
          }
        }

        &.nav-items--hide {
          transform: translateY(100%);
        }
      }

      .nav-actions {
        z-index: 99999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: lightgrey;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: transform .3s;

        &--scrolled {
          transform: translateY(-100%);
        }
      }
    }
  }

  .dropdown-nav {
    position: fixed;
    //padding: 20px;
    background-color: lightgreen;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 99999;

    @include breakpoint-max(md) {
      border-top: 1px solid black;
      position: static;
      width: auto;

      .nav-group {
        display: none;
      }
    }

    @include breakpoint-max(sm) {
      border-top: 0;
      width: 100%;
      position: fixed;
      transform: translateX(-100%);
      transition: transform .2s;
      padding-top: 60px;
    }

    .nav-open & {
      // inverted on desktop
      @include breakpoint(md) {
        //width: 60px;
        
        transform: translateX(-100%);
      }

      @include breakpoint-max(md) {
        .nav-group {
          display: block;
        }
      }

      @include breakpoint-max(sm) {
        transform: translateX(0);
      }
    }

    .nav-group {
      &__label {
        font-weight: bold;
        padding: 10px 20px;
        display: block;
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: .06em;
        padding-top: 14px;
        word-break: break-word;
      }

      &__list {
        .nav-link {

          // &:hover {
          //   background-color: grey;

          //   > .nav-link-header .nav-link__expander {
          //     opacity: .3;
          //   }
          // }

          a {
            padding: 18px 20px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 44px;
            width: 100%;
            //flex: 1;

            &:hover {
              background-color: gray;

              ~ .nav-link__expander {
                opacity: .3;
              }
            }
          }

          .nav-link-header {
            display: flex;
            align-items: center;
            //justify-content: space-between;
            position: relative;
          }

          .nav-link__expander {
            background-color: skyblue;
            transition: transform .2s;
            margin-right: 20px;
            position: absolute;
            right: 0;

            &:hover {
              opacity: 1;
            }

            &.expanded {
              transform: rotate(90deg);
            }
          }

          &.parent-link, &.back-button {
            display: none;
          }

          ul {
            background-color: burlywood;

            ul {
              background-color: darken(burlywood, 5);
              
              ul {
                background-color: darken(burlywood, 10);
                
                ul {
                  background-color: darken(burlywood, 15);
                }
              }
            }
          }
        }
      }
    }
  }

  .nav-hamburger {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 48px;
    z-index: 99999;
    background-color: skyblue;

    @include breakpoint-max(md) {

    }

    @include breakpoint-max(sm) {
      bottom: auto;
      top: 0;
    }
  }

  

  z-index: 99999;

  @include breakpoint-between(sm, md) { // tablet portrait
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: green;
    transition: width .2s;

    .nav-open & {
      width: 250px;
      will-change: width;
    }
  }

  @include breakpoint-max(sm) {
    position: static;
  }
}

#content {
  padding-left: 250px;

  @include breakpoint(md) {
    .nav-open & {
      padding-left: 60px;

      padding-left: 0;
    }
  }

  @include breakpoint-max(md) {
    padding-left: 60px;
  }

  @include breakpoint-max(sm) {
    padding-left: 0;
  }
}

.nav-overlay {
  @include breakpoint-max(md) {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99998;
  }
}


.nav-link__badge {
  pointer-events: none;
  position: absolute;
  // height: 10px;
  // font-size: 8px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}