.notification-small {
  position: fixed;
  @include z-index(notification);
  left: 0;
  right: 0;
  bottom: 20%;
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  padding: $default-spacing;
  pointer-events: none;
  border-radius: $default-border-radius;
  box-shadow: $box-shadow;
  border-width: 1px;
  border-style: solid;
  color: $white;

  &-info {
    background-color: $color-info;
    border-color: $color-info-dark;
  }
  &-primary {
    background-color: $primary-color;
    border-color: $primary-color-dark;
  }
  &-danger {
    background-color: $color-danger;
    border-color: $color-danger-dark;
  }
  &-warning {
    background-color: $color-warning;
    border-color: $color-warning-dark;
  }
  &-success {
    background-color: $color-success;
    border-color: $color-success-dark;
  }
  &-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
  }
  &-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
  }
}