// default search bar 
.search-container {
  min-width: 260px;
  position: relative;
  @include z-index(searchbar);

  .search-input {
    width: 100%;
    border: 1px solid $white;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray-light;
    padding: 0 $default-spacing / 2;
    border-radius: $default-border-radius;

    input {
      width: 100%;
      height: 38px;
      background: none;
      border: 0;
      outline: 0;
      font-family: inherit;
      font-size: inherit;
    }
    svg g {
      fill: $text-secondary-color;
    }
  }

  .search-suggestions {
    width: 100%;
    color: $text-primary-color;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    top: 100%;

    ul {
      list-style-type: none;

      li {
        background: $white;
        border-bottom: 1px solid $gray-light;
        border-left: 1px solid $gray-light;
        border-right: 1px solid $gray-light;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: $default-spacing $default-spacing / 2;

        &:hover {
          background-color: $gray-light;
        }

        &.search-highlighted-item {
          background-color: $gray-light;
        }

        .list-icon {
          width: 24px;
          height: 24px;
          margin-right: $default-spacing / 2;
          opacity: .27;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: rgba($color: #000000, $alpha: .5);
    z-index: -1;
  }
}


// overwrites for searchbar in header (wide viewport)
.header-buttons:not(.header-buttons--layout-small) {
  .searchbar-in-nav {
    .search-container {
      .search-input {
        border: 1px solid $white;
        border-radius: 10px;

        input {
          height: 32px;
        }
      }

      .search-suggestions {
        top: calc(100% + 6px);
        box-shadow: $box-shadow;
        border-radius: 10px;
        border: 1px solid $gray-light;

        li {
          border: 0;
        }
      }
    }
  }
}


// overwrites for searchbar in header (small viewport)
.header-buttons--layout-small {
  .btn-icon--search {
    position: fixed;
    left: 0;
    z-index: 1;
    svg > g {
      fill: $text-secondary-color;
    }
  }
  
  .searchbar-in-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $toolbar-height;
    background: $white;
    color: $text-primary-color;
  
    .search-container {
      z-index: initial;

      .search-input {
        height: $toolbar-height;
        padding: 0;
        padding-left: 48px;
        border: 0;
        border-radius: 0;

        button {
          width: 48px;
          height: 48px;
          min-width: 48px;
        }
      }
  
      .search-suggestions {
        max-height: none;
        overflow: initial;
        position: initial;

        li {
          border: 0;
          padding: 0;
          height: $toolbar-height;
          
          &:first-of-type {
            border-top: 1px solid $gray-light;
          }
  
          .list-icon {
            width: 48px;
            height: 48px;
            min-width: 48px;
            min-height: 48px;
            margin: 0;
          }
        }
      }
  
      .search-overlay {
        background: rgba($color: #000000, $alpha: .5);
      }
    }
  }
}
