.dropdown {
  .sign-in-sign-up {
    padding: $default-spacing;
  }
}

.sign-in-sign-up {

  div:first-of-type {
    background: $primary-color;
  }
  div:last-of-type {
    background: $primary-color-light;
  }
}