.sign-in-up {
  .link-other-form {
    display: inline-block;
    margin: $default-spacing 0;
  }

  .text-secondary {
    margin-bottom: $default-spacing*1.5;
  }

  .container--small {
    padding-top: $default-spacing*2;
  }
}